.swiper-button-prev {
  color: white !important;
  transition-property: opacity, visibility;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  opacity: 0;
  visibility: hidden;
}
.swiper-button-next {
  color: white !important;
  transition-property: opacity, visibility;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.popularClassSection:hover .swiper-button-prev {
  opacity: 1;
  visibility: visible;
}

.popularClassSection:hover .swiper-button-next {
  opacity: 1;
  visibility: visible;
}