.pay-card-container {
  position: relative;
  width: 350px;
  height: 182.873px;
  perspective: 1000px;
  margin: 0 auto;
}

.pay-card {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
  transform-style: preserve-3d;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.front {
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
}

.pay-card-container.flipped .pay-card {
  transform: rotateY(180deg);
}
