.glow-effect {
  box-shadow: 0 0 15px rgba(255, 238, 0, 0.808);
  transition: box-shadow 0.3s ease-in-out;
}

.glow-effect:hover {
  box-shadow: 0 0 25px rgba(255, 255, 0, 0.753);
}

.glow-effect-sm {
  box-shadow: 0 0 10px rgba(255, 238, 0, 0.589);
}

.nav-btn a {
  transition: color 0.3s ease-in-out;
}

.nav-btn a:hover {
  color: rgb(242, 255, 65);
}

.navbar2 {
  /* Other navbar styles */

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.navbar2.hidden {
  transform: translateY(-100%);
}

