@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  font-family: 'Khand', sans-serif;
}

.title {
  font-family: "Oswald", sans-serif;
  letter-spacing: 3px;
}

.title-sm {
  font-family: "Oswald", sans-serif;
}

.description {
  font-family: 'Quicksand', sans-serif;
}
